@media (max-width: 375px) {
    .navigation {
        display: none;
    }
    .burger-bar {
    display: flex;
    }
    .button-black {
        display: none;
    }
    
}
@media (max-width: 1024px) {
    .left-block {
        width: 100%;
    }
    .right-block {
        width: 100%;
    }
}
@media (max-width: 744px) {
    
}