@media (max-width: 1024px) {
    .left-block {
        width: 100%;
        max-width: 960px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .headline-describtion {
        text-align: center;
        max-width: 630px;
    }
    .right-block {
        width: 100%;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .left-block-child {
        width: 90%;
        text-align: center;
        max-width: 630px;
    }
    .button-descr {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 68px;
        margin-top: 20px;
    }
    .action-descr {
        max-width: 370px;
        width: 100%;
    }
    .white-section {
        padding-top: 44px;
        padding-bottom: 32px;
    }
    .anti-flash {
        column-gap: 61px;
        padding: 39px 32px;
    }
    .black-container {
        flex-direction: column;
        margin: 0;
        max-width: 960px;
        width: 100%;
    }
    .left-black-block {
        width: 100%;
    }
    .right-black-block {
        width: 100%;
        flex-direction: row;
        margin-top: 64px;
        column-gap: 129px;
    }
    .black-section {
        padding-top: 32px;
        padding-bottom: 64px;
        padding-left: 32px;
        padding-right: 32px;
        max-width: 1024px;
        width: 100%;
    }
    .right-black-block-child2 {
        row-gap: 17px;
        max-width: 415.5px;
    }
    .p-black-block {
        width: 100%;
    }
    .right-black-block-child1 {
        max-width: 415.5px;
    }
    .h3-black-block  {
        width: 100%;
    }
}
@media (max-width: 744px) {
    .header-block {
        padding-left: 24px;
        padding-right: 24px;
    }
    .navigation {
        max-width: 320px;
        width: 100%;
    }
   .left-block {
        width: 100%;
        max-width: 696px;
        row-gap: 24px;
   }
   .headline {
        font-size: 40px;
        line-height: 48.5px;
   }
   .left-block-child {
        width: 100%;
        text-align: center;
        row-gap: 24px;
    }
    .white-section {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 24px;
        margin-right: 24px;
    }
    .container {
        width: 100%;
    }
    .button-descr {
        margin-top: 24px;
        padding-bottom: 24px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .anti-flash {
        flex-direction: column;
        padding: 0;
    }
    .anti-flash-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }
    .anti-flash-p {
        margin-top: 10px;
        text-align: center;
    }


    .right-black-block {
        text-align: center;
        flex-direction: column;
        align-items: center;
        max-width: 696px;
        width: 100%;
        margin: 0;
        row-gap: 29px;
    }
    .right-black-block-child1 {
        max-width: 696px;
        width: 100%;
    }
    .right-black-block-child2 {
        width: 100%;
        max-width: 696px;
        row-gap: 29px;
    }
    .h3-black-block {
        width: 101%;
    }
    .p-black-block {
        width: 100%;
    }
    .black-section {
        padding: 24px;
        
    }
    .black-container {
        row-gap: 29px;
    }
} 


@media (max-width: 375px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: flex;
    }
    .button-black {
        display: none;
    }
    .white-section {
        padding-bottom: 21px;
    }
    .button-black.second {
        display: block;
    }
    .anti-flash-box {
        max-width: 327px;
        padding: 0;
        margin: 24px;
    }
}
