/* header styles */
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 328px;
    column-gap: 24px;
    height: 20px;
}
.header-block {
    height: 96px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-black {
    background-color: black;
    color: #F3F3F3;
    border: none;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    font-family: 'Inter-Bold';
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.1px;
}
.li {
    font-family: 'Inter-Medium';
    line-height: 19.36px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.1px;
}
.burger-bar {
    color: #FFFFFF;
    cursor: pointer;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
