/* header styles */
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.header-block {
    height: 96px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
}
.button-black {
    background-color: black;
    color: #F3F3F3;
    border: none;
    border-radius: 32px;
    width: 100px;
    height: 48px;
    font-family: 'Inter-Bold';
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.1px;
}
.li {
    font-family: 'Inter-Medium';
    line-height: 19.36px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.1px;
    width: 44px;
}
.burger-bar {
    color: #FFFFFF;
    cursor: pointer;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.navigation {
    width: 328px;
}
.positions {
    padding-top: 96px;
}
/* main styles */
.container {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: auto;
    align-items: center;
    column-gap: 130px;
}
.white-section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.left-block {
    width: 490px;
}

.right-block {
    width: 490px;
}
.headline {
    font-family: 'Inter-Black';
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}
.headline-describtion {
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 28px;
    width: 100%;
}
.action-descr {
    font-family: 'Inter-SemiBold';
    font-size: 14px;
    line-height: 20px;
    width: 236px;
}
.button-descr {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 16px;
}

.picture-section img {
    border-radius: 12px;
    width: 100%;
}
